<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdn1.lncld.net/static/js/2.5.0/av-min.js"></script>
  <script>
  var APP_ID='<%- theme.leancloud.app_id %>';
  var APP_KEY='<%- theme.leancloud.app_key %>';
  AV.init({
      appId: APP_ID,
      appKey: APP_KEY
  });
  function showTime(Counter){
      var query=new AV.Query("Counter");
      var url=$(".leancloud_visitors").attr('id').trim();
      query.equalTo("xid",url);
      query.find().then(function(results){
        for(var i=0;i<results.length;i++){
          var number=results[i]._serverData.time;
          var urll=results[i]._serverData.url;
          // console.log(number);
          $(document.getElementById(urll)).text(number);
        }
      })
  }
  function addCount(Counter){
    var $visitors=$(".leancloud_visitors");
    var url=$visitors.attr('id').trim();
    var title=$visitors.attr('data-flag-title').trim();
    var query=new AV.Query(Counter);
    query.equalTo("xid",url);
    query.find().then(function(results){
      if(results.length>0){
        var counter=results[0];
        counter.fetchWhenSave(true);
        counter.increment("time");
        counter.save();
        // console.log("ok");
      }
      else{
        var newcounter=new Counter();
        newcounter.set("title",title);
        newcounter.set("url",url);
        newcounter.set("xid",url);
        newcounter.set("time",1);
        newcounter.save(null,{
          success: function(newcounter){
            // console.log("new");
          }
        });
      }
    })
  }
  $(function(){
    <% if(theme.leancloud.time_count){ %>
      var Counter=AV.Object.extend("Counter");
      <% if(is_post()){ %>
        addCount(Counter);
      <% } %>
      showTime(Counter);
    <% } %>
  });
</script>
<footer class="footer">
  <div class="outer">
    <ul>
      <li>
        Copyrights &copy;
        <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %>
        <i class="ri-heart-fill heart_icon"></i> <%= config.author || config.title %>
      </li>
    </ul>
    <ul>
      <li>
        <% if (theme.pageFooter){ %>
        <% var hexoLink = '<a href="https://hexo.io" target="_blank">Hexo</a>'; %>
        <% var themeLink = '<a href="https://github.com/Shen-Yu/hexo-theme-ayer" target="_blank">Ayer</a>'; %>
        <%- __('powered_by', hexoLink) %>
        <span class="division">|</span>
        <%- __('theme', themeLink) %>
        <% } %>
      </li>
    </ul>
    <ul>
      <li>
        <% if (theme.busuanzi && theme.busuanzi.enable){ %>
        <%# "不蒜子统计" %>
        <%- partial('post/busuanzi') %>
        <% } %>
      </li>
    </ul>
    <ul>
      <% if (theme.icp&&theme.icp.enable){ %>
        <li>
          <a href="<%= theme.icp.url %>" target="_black" rel="nofollow"><%= theme.icp.text %></a>
        </li>
        <% } %>
    </ul>
    <ul>
      <% if (theme.gongan&&theme.gongan.enable){ %>
      <li>
          <img src="<%= theme.gongan.img %>"></img>
          <a href="<%= theme.gongan.url %>" target="_black" rel="nofollow"><%= theme.gongan.text %></a>
      </li>
        <% } %>
    </ul>
    <ul>
      <li>
        <!-- cnzz统计 -->
        <% if (theme.cnzz&&theme.cnzz.enable){ %>
        <script type="text/javascript" src='<%= theme.cnzz.url%>'></script>
        <% } %>
      </li>
    </ul>
  </div>
</footer>